<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawesome-all.css">
</head>

<body>
    <div class="container">
        <% include ./partials/nav %>
    </div> <!-- container -->
    <br>
    <h1>
        <%= title %>
    </h1>
    <p>
        My name is Francesco Spagnolo and welcome to my blog site!<br>
        This is my first time building a site like this and I put a lot of effort into it<br>
        so I hope you like it!
    </p>
</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</html>