<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/fontawesome-all.css" />
</head>

<body>
    <br>
    <h1>
        <%= title %>
    </h1>
    <p>Welcome to <%= title %>. It is currently under construction, so come back soon!
    </p>
    <p>

    </p>

    <div class="container">
        <% include ./partials/nav %>
            <% include ./partials/showblog %>

    </div> <!-- container -->
</body>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</html>